.Titlu_galerie{
    font-family: Chopin;
    font-size: 2.3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 3%;
}
.text{
    display: flex;
    width: fit-content;
}
.lineG{
    position:relative;
    width: 100px;
    height: 2px;
    background-color: rgb(99, 99, 99);
    top: 200%;
    margin-bottom: 4%;
}
.img-gallery{
    width: 80%;
    margin:10% auto 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(1.2);
}
.full-img{
    width: 86%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 60%;
    
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: sans-serif;
    font-weight:200;
    font-size: 1.5em ;
    color: white;
    cursor: pointer;
}
.Footer_galerie{
    font-family: Chopin;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 10%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    padding-top: 1%;
}
.text_footer_galerie{
    font-size: 1.3em;
    font-weight: bold;
}
.copyright_galerie{
    font-size: 0.8em;
}
.PozaLogo {
  width: 40%;
}
#preloader{
    background: #ffffff url(/Poze\ /loading.gif) no-repeat center;
    background-size: 8%;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
}

@media (max-width:480px) {
    .montserrat{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        
      }
      .TopMenu{
        font-family: montserrat;
        font-size: 1vw;
        color: black;
        position:absolute;
        display: flex;
        width:fit-content;
    }
    .TopMenu l a{
        color: black;
        text-decoration: none;
        font-size: 1.9em;
        
    }
    .header{
        height: fit-content;
        background-color: white;
        align-items: center;
        display: flex;
        width: 100%;
        
        
    }
    .Titlu_galerie{
        font-family: montserrat;
        font-size: 1.8em;
        font-weight: bold;
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .text{
        display: flex;
        text-align: center;
        width: fit-content;
    }
    .img-gallery{
        width: 80%;
        display: flex;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .img-gallery img{
        width: 40%;
        cursor: pointer;
    }
    .Footer_galerie{
        font-family: montserrat;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: 10%;
        justify-content: center;
        align-items: center;
        padding-top: 1%;
        position: relative;
    }
    .text_footer_galerie{
        font-size: 1em;
        font-weight: bold;
    }
    .copyright_galerie{
        font-size: 0.5em;
    }
    .full-img img{
        width: 80%;
        
    }
    .full-img span{
        position: absolute;
        top: 5%;
        right: 5%;
        font-family: sans-serif;
        font-weight:200;
        font-size: 1.5em ;
        color: white;
        cursor: pointer;
    }
}

/* slideshow */
.centered-image {
    display: block; /* This is important for centering */
    margin: 0 auto; /* Centers horizontally */
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
    width: 40%;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 90%;
    left: 5%;
    size-adjust: 50%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.8;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }